# Theme
THEME_KEY="indigone"

# Git credentials used by Git based apps like Decap Admin
OAUTH_GITHUB_CLIENT_ID=
OAUTH_GITHUB_CLIENT_SECRET=

# AI provider
AI_PROVIDER=
GPT_API_KEY=
GPT_BASE_HOST=

MAX_ARTICLE_NUMS=

RSS_CACHE_ENABLE=

# gittalk comment
GITTALK_CLIENT_ID=""
GITTALK_CLIENT_SECRET=""
GITTALK_REPO=""
GITTALK_OWNER=""