<body class="font-sans antialiased min-h-screen bg-theme-background text-theme-text-primary dark:bg-theme-dark-background dark:text-theme-dark-text-primary">
  <div class="transition-colors relative z-10">
    <main class="mx-auto max-w-5xl px-4 sm:px-6 lg:px-8">
      <slot />
    </main>
  </div>
</body>
