---
import BaseLayout from './BaseLayout.astro';
import Header from './Header.astro';
import Footer from './Footer.astro';
import Portal from './Portal.astro';
import SearchModal from './SearchModal.svelte'
import AnimationEnhancer from './AnimationEnhancer.astro';

---
<BaseLayout>
    <Header />
    <div class="main-content">
        <slot />
    </div>
    <Footer />
    <Portal>
        <SearchModal client:load/>
    </Portal>
    <AnimationEnhancer />
</BaseLayout>

<style>
    .main-content {
        min-height: 580px;
    }
</style>
